@model IEnumerable<Competition>

<h2>Past Competitions</h2>

@foreach (var competition in Model)
{
    <div>
        <h3>@competition.GameType</h3>
        <p>Date: @competition.EventDate.ToString("yyyy-MM-dd") - @competition.Location</p>
        <p>GameType: @competition.GameType</p>
        <p>PrizePool: @competition.PrizePool</p>
        <p>Description: @competition.Description</p>
        <a asp-controller="Competition" asp-action="Details" asp-route-id="@competition.CompetitionId">Results</a>
    </div>
}
